body{
    background-color: rgb(228, 239, 246);
}
@media(max-width:600px){
    body{
        margin: 0px;
    }
    .nav-bar{
        visibility:hidden;
        height: 0px;
    }
    .main{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh !important;
        width: 100vw !important;
    }
    #Heading{
        margin: 0px !important;
        padding: 0px !important;
    }
    #col1{
        display: flex;
        flex-direction: row !important;
    }
    .grids{
        grid-template-columns: 0.5fr !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .backgrounds{
        height: 100% !important;
        width: 100% !important;
    }
    #col3 img{
        height: 50vw !important;
        width: 50vw !important;
        position: static !important;
        margin-top: 2vh !important;
    }
    .grids>div>img{
        width: 50px !important;
        height: 50px !important;
    }
    .grids>div{
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        justify-content: center !important;
    }
    .about-me{
        font-size: large !important;
    }

}
@media(min-width:800px) {
    #col3 img{
        height: 25vw !important;
        width: 25vw !important;
    }
}

.nav-bar{
    display: flex;
    position: fixed;
    width: 90%;
    justify-content: end;
    font-family: sans-serif;
    gap: 40px;
    z-index: 1000;
    margin: 10px;
}
button{
    text-decoration: none;
    background-color: rgb(25, 113, 255);
    padding: 10px;
    border: none;
    font-weight: 700;
    border-radius: 10px 10px;
    width: 100px;
}
button:hover{
    background-image: linear-gradient(rgb(25, 113, 255),rgb(83, 149, 255));

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 255, 251, 0.163);
    width: 60vw;
    height: 70vh;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
}
.main img{
    width: 40px;
}

#col1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
}
#col1 img{
    width: 50px;
}
#col2{
    display: flex;
    flex-direction: column; 
}
#Heading{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 50px;
    padding: 10px;
}
#status{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 10px;
}
#info{
    font-family: sans-serif;
    font-weight: 400;
    font-size: large;  
    padding: 10px;
}
#col3{
    display:flex;
    align-items: center;
    justify-content: center;
}
#col3 img{
height: 300px;
width: 300px;
border-radius: 60% 10%;
filter: drop-shadow(10px 10px 10px);

}
.part1{
    width: 100%;
    height: 600px;
    background-color: red;
    font-size: xx-large;
}
.part2{
    width: 100%;    
    height: 600px;
    background-color: blue;
    font-size: xx-large;
}
.grids{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 200px;
    font-family: sans-serif;
    flex-wrap: wrap;
}
.grids>div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
}
.grids p{
    font-size: large;
    font-weight: 700;
}
h2{
    text-align: center;
    font-family: sans-serif;
padding-top: 36px;
}
.grids>div>img{
    width: 100px;
    height: 100px;
}
.backgrounds{
    background-color: rgba(0, 255, 251, 0.163);
    width: 60vw;
    height: 70vh;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    font-weight: 500;
    font-size: x-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: large;
    
}